====================================================================
 ``aiobearychat.openapi.{{ module['module_name'] }}``
====================================================================

.. contents::
    :local:
.. currentmodule:: aiobearychat.openapi.{{ module['module_name'] }}

.. automodule:: aiobearychat.openapi.{{ module['module_name'] }}
    :members:
    :undoc-members:
